<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/home}">Accueil</a></li>
            <!-- Condition pour afficher l'option de connexion ou de déconnexion -->
            <li th:if="${not #authorization.expression('isAuthenticated()')}"><a th:href="@{/login}">Connexion</a></li>
            <li th:if="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/logout}">Déconnexion</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Appartements disponibles à la location</h1>
    <div class="appartements-container">
        <!-- Boucle sur chaque appartement -->
        <div th:each="appart : ${appartements}" class="appartement">0
            <h2 th:text="${appart.type_appart}">Type d'appartement</h2>
            <p th:text="'Prix location: ' + ${appart.prix_loc} + '€'">Prix location</p>
            <p th:text="'Prix charges: ' + ${appart.prix_charge} + '€'">Prix charges</p>
            <p th:text="'Adresse: ' + ${appart.rue} + ', ' + ${appart.arrondissement} + ' arrondissement'">Adresse</p>
            <p th:text="'Etage: ' + ${appart.etage}">Etage</p>
            <p th:text="'Ascenseur: ' + (${appart.ascenseur} ? 'Oui' : 'Non')">Ascenseur</p>
            <p th:text="'Disponible à partir du ' + ${#dates.format(appart.date_libre, 'dd-MM-yyyy')}">Date disponible</p>
            <!-- Lien pour voir plus de détails ou contacter le propriétaire, accessible seulement aux utilisateurs connectés -->
            <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/appartements/details(__${appart.id}__)}" class="details-link">Voir détails</a>
        </div>
    </div>
</main>

<footer>
    <p>Droits réservés - Votre Compagnie</p>
</footer>
</body>
</html>
