  <!DOCTYPE html>
  <html lang="fr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Inscription.css">
    <title>Formulaire d'Inscription</title>

    <script>
      function validatePassword() {
        let mdp = document.getElementById("mdp");
        let confirmPassword = document.getElementById("confirm-password");
        if (mdp.value !== confirmPassword.value) {
          confirmPassword.setCustomValidity("Les mots de passe ne correspondent pas.");
        } else {
          confirmPassword.setCustomValidity('');
        }
      }

      window.onload = function() {
        document.getElementById("confirm-password").onkeyup = validatePassword;
      }
    </script>
  </head>
  <body>

  <form action="/inscription" method="post" onsubmit="return validatePassword();"> <div class="form-group">
    <label for="nom">Nom:</label>
    <input type="text" id="nom" name="nom" placeholder="Nom" required>
  </div>

    <div class="form-group">
      <label for="prenom">Prénom:</label>
      <input type="text" id="prenom" name="prenom" placeholder="Prenom" required>
    </div>

    <div class="form-group">
      <label for="adresse">Adresse:</label>
      <input type="text" id="adresse" name="adresse" placeholder="Adresse" required>
    </div>

    <div class="form-group">
      <label for="codeville">Code Postal:</label>
      <input type="number" id="codeville" name="codeville" placeholder="CP" required>
    </div>

    <div class="form-group">
      <label for="tel">Numéro de téléphone:</label>
      <input type="tel" id="tel" name="tel" placeholder="Numéro de téléphone" required>
    </div>

    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" placeholder="E-mail" required>
    </div>

    <div class="form-group">
      <label for="date_naiss">Date Naissance:</label>
      <input type="date" id="date_naiss" name="date_naiss" placeholder="Date Naissance" required>
    </div>

    <div class="form-group">
      <label for="login">Login:</label>
      <input type="text" id="login" name="login" placeholder="Login" required>
    </div>

    <div class="form-group">
      <label for="mdp">Mot de passe:</label>
      <input type="password" id="mdp" name="mdp" placeholder="Mot de passe" required>
    </div>

    <div class="form-group">
      <label for="confirm-password">Confirmez le mot de passe:</label>
      <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirmez le mot de passe" required>
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div class="field btn">
      <input type="submit" value="S'inscrire">
    </div>
    <div class="sign-in">
      Déjà un compte ? <a href="/login">Connectez-vous maintenant</a>
    </div>
  </form>
  </body>
  </html>
