<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier Appart</title>
</head>
<body>
<div th:replace="Fragments/Header/Header :: header"></div>
<h2>Modifier un appartement</h2>

<form th:action="@{/appartements/ajouter}" th:object="${appart}" method="post">
    Type d'appartement: <input type="text" th:field="*{type_appart}" /><br/>
    Prix location: <input type="number" th:field="*{prix_loc}" /><br/>
    Prix charges: <input type="number" th:field="*{prix_charge}" /><br/>
    Rue: <input type="text" th:field="*{rue}" /><br/>
    Arrondissement: <input type="text" th:field="*{arrondissement}" /><br/>
    Étage: <input type="number" th:field="*{etage}" /><br/>
    Ascenseur: <input type="checkbox" th:field="*{ascenseur}" /><br/>
    Préavis: <input type="text" th:field="*{preavis}" /><br/>
    Date libre: <input type="date" th:field="*{date_libre}" /><br/>

    <button type="submit">Ajouter</button>
</form>

</body>
</html>
